{{/* Build a JSON file containing secrets fetched from our Vault server. The needed secrets may vary depending on the environment (eg, different secrets are needed for development vs production). */}}

{{ $deploy_env := (env.Getenv "DEPLOY_ENV" (env.Getenv "APP_ENV" "development")) }}
{{ $secrets := coll.Dict }}

{{ if (ne (env.Getenv "ECR_LOGIN_RENEW") "true") }}
  {{ with (datasource "vault" "reopt-api/common/build").data }}
    {{ $secrets = coll.Merge (coll.Dict
      "SECRET_NLR_ROOT_CERT_URL_ROOT" .nlr_root_cert_url_root
    ) $secrets }}
  {{ end }}

  {{ with (datasource "vault" "reopt-api/ci/deploy").data }}
    {{ $secrets = coll.Merge (coll.Dict
      "SECRET_CONTAINER_REGISTRY" .container_registry
    ) $secrets }}
  {{ end }}

  {{ if (or (eq $deploy_env "staging") (eq $deploy_env "production")) }}
    {{ with (datasource "vault" (printf "reopt-api/%s/web" $deploy_env)).data }}
      {{ $secrets = coll.Merge (coll.Dict
        "SECRET_ASHRAE_TMY_NLR_API_KEY" .ashrae_tmy_nlr_api_key
        "SECRET_DB_HOST" .db_host
        "SECRET_DB_NAME" .db_name
        "SECRET_DEVELOPER_NLR_GOV_API_KEY" .developer_nlr_gov_api_key
        "SECRET_DJANGO_SECRET_KEY" .django_secret_key
        "SECRET_PVWATTS_NLR_API_KEY" .pvwatts_nlr_api_key
        "SECRET_REDIS_PASSWORD" .redis_password
        "SECRET_ROLLBAR_ACCESS_TOKEN" .rollbar_access_token
      ) $secrets }}
    {{ end }}

    {{ with (datasource "vault" (printf "reopt-api/%s/db-migrate" $deploy_env)).data }}
      {{ $secrets = coll.Merge (coll.Dict
        "SECRET_DB_PASSWORD" .db_password
        "SECRET_DB_USERNAME" .db_username
      ) $secrets }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if (eq (env.Getenv "ECR_LOGIN_RENEW") "true") }}
  {{ with (datasource "vault" "deploy/common/aws-ecr").data }}
    {{ $secrets = coll.Merge (coll.Dict
      "AWS_ACCESS_KEY_ID" .aws_access_key_id
      "AWS_SECRET_ACCESS_KEY" .aws_secret_access_key
      "AWS_REGION" .aws_region
    ) $secrets }}
  {{ end }}
{{ end }}

{{ $secrets | data.ToJSON }}
